body {
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: center;   
  min-height: 100vh;         
  margin: 0;                
  font-family: Arial;
  background-color: #eee;
}

table {
  border-collapse: collapse; 
  border: 4px solid #333;
}

td {
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 40px; 
}

th {
    padding: 10px;
    font-family: sans-serif;
}

.light { background-color: #eee; }
.dark { background-color: #aaa; }
