body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column; /* elementi uno sotto l'altro */
  align-items: center; /* centra orizzontalmente */
  background-color: #e3e6f0;
  font-family: 'SN Pro', 'Segoe UI', Tahoma, Arial, sans-serif;
  
}


header {
  text-align: center;
  margin: 10px 0;
}

header h1 {
  margin: 5px 0;
  font-size: 40px;
}

header p {
  margin: 5px 0;
  font-size: 16px;
}

/* SCACCHIERA */
.chess-board {
  border-collapse: collapse;
  border: 5px solid #333;
  box-shadow: 0 10px 50px rgba(0,0,0,0.3);
}


/* Stile per la cornice con le coordinate */
.chess-board th {
  background-color: #e3e6f0; /* Sfondo coordinate */
  color: #555;
  width: 28px;
  height: 28px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
}

.chess-board td {
  width: 65px;
  height: 65px;
  font-size: 48px;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  border: none;
}

.chess-board .light {
  background-color: #adf5ff;
}

.chess-board .dark {
  background-color: #4d517e;
}

.chess-board .black-p {
  color: #000000;
  -webkit-text-stroke: 0.4px rgb(255, 255, 255);
}

.chess-board .white-p {
  color: #f4fcfe;
  -webkit-text-stroke: 0.4px black;
}

